# Synthetic Control (SC)

- 담배값이 오른다고 사람들이 담배 피는 양을 줄일까요, 아니면 중독된 사람들은 가격과 무관하게 피는 양이 유지될까요?
- Proposition 99 라는 법이 캘리포니아에서 통과되었습니다. 이 법은 흡연에 대한 세금을 크게 늘리는 법이었습니다.
- DiD에서처럼 캘리포니아와 사전평행 추세가 있는 주와 비교해도 되겠지만, Synthetic Control은 1:1 비교보다 1:N 비교를 통해 인과 효과를 확인하는 방법을 제안합니다.

In [5]:
import pandas as pd

cigar = pd.read_csv("../data/matheus_data/smoking.csv")

cigar.query("california == True").head()

,state,year,cigsale,lnincome,beer,age15to24,retprice,california,after_treatment
62,3,1970,123.000000,NaN,NaN,0.178158,38.799999,True,False
63,3,1971,121.000000,NaN,NaN,0.179296,39.700001,True,False
64,3,1972,123.500000,9.930814,NaN,0.180434,39.900002,True,False
65,3,1973,124.400002,9.955092,NaN,0.181572,39.900002,True,False
66,3,1974,126.699997,9.947999,NaN,0.182710,41.900002,True,False

### 질문이나 의견을 남겨주세요.
<script src="https://utteranc.es/client.js"
        repo="CausalInferenceLab/awesome-causal-inference-python"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>